<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Picturesque</a>
    </div>
  </div>
</div>

<span id="app">
	<span id="appView">
		<span class="index-template">

		<!-- Full Page Image Header Area -->
		<div class="header">
		  <div class="vert-text">
		    <h1>Picturesque</h1>
		    <h3>Share your story on SlideShare</h3>
		    <h4>scroll down to know more</h4>
		    <a href="#" id="enter" class="btn btn-lg btn-success hidden">Enter</a>
		    <a href="#" id="fblogin" class="btn btn-lg btn-primary">Login with Facebook</a>
		  </div>
		</div>
		<!-- /Full Page Image Header Area -->

		<!-- Intro -->
		<div id="intro" class="intro">
		  <div class="container">
		    <div class="row">
		      <div class="col-md-6 col-md-offset-3 text-center">
		        <h2></h2>
		        <p class="lead">By Apoorvi, Himanshu, Hitesh</p>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- /Intro -->

		<!-- Services -->
		<div class="services">
		  <div class="container">
		    <div class="row">
		      <div class="col-md-4 col-md-offset-4 text-center">
		        <h2>How it works?</h2>
		        <hr>
		      </div>
		    </div>
		    <div class="row">
		      <div class="col-md-2 col-md-offset-2 text-center">
		        <div class="service-item">
		          <i class="service-icon icon-facebook-sign"></i>
		          <h4>Login via Facebook</h4>
		          
		        </div>
		      </div>
		      <div class="col-md-2 text-center">
		        <div class="service-item">
		          <i class="service-icon icon-picture"></i>
		          <h4>Choose an Album</h4>
		         
		        </div>
		      </div>
		      <div class="col-md-2 text-center">
		        <div class="service-item">
		          <i class="service-icon icon-check"></i>
		          <h4>Select Photos and click upload</h4>
		         
		        </div>
		      </div>
		      <div class="col-md-2 text-center">
		        <div class="service-item">
		          <i class="service-icon"><%= image_tag("ss-dudes.png", :width => "70") %></i>
		          
		          <h4>Enjoy the Deck on SlideShare</h4>
		          
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- /Services -->

		<!-- Callout -->
		<div class="callout">
		  <div class="vert-text">
		    <h1>Millions of stories waiting to be shared!</h1>
		  </div>
		</div>
		<!-- /Callout -->



		<!-- Call to Action -->
		<div class="call-to-action">
		  <div class="container">
		    <div class="row">
		      <div class="col-md-6 col-md-offset-3 text-center">
		        <h4>Share your story on  <%= image_tag("ss-logo.png", :width => "130") %></h4> 
		        <a href="#" class="btn btn-lg btn-primary">Login with Facebook</a>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- /Call to Action -->
		</span>

	</span>
</span>


<div class="container" id="albums">
	<!--<ol class="breadcrumb">
	  <li class="go-to-home"><a hef="#">Home</a></l>
	  <li class="active">Albums</li>
	</ol>-->
	<h2 class="well">Start sharing your story with the world</h2>
  	<span class="icon-lightbulb"></span>
	<h4>Select an Album</h4>
	<ul id="albumsView">
	</ul>
</div>
<div class="album-title hidden"><div class="container marker"><span class="icon-lightbulb"></span><h4>Album - <span></span><h4></div>
<div class="container hidden" id="gallery">
	<div id="photosView">
    <div id="photos">
    </div>
    <button type="button" class="ss-login-btn btn btn-primary">Proceed</button>
    <div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Login to SlideShare</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="inputEmail1" class="col-lg-2 control-label">Login</label>
    <div class="col-lg-10">
      <input type="email" class="form-control" id="inputEmail1" placeholder="Login">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword1" class="col-lg-2 control-label">Password</label>
    <div class="col-lg-10">
      <input type="password" class="form-control" id="inputPassword1" placeholder="Password">
    </div>
  </div>
</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary upload-btn">Upload to SlideShare</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
	</div>
</div>
<div class="container hidden" id="upload-page" style="padding-top:80px">
</div>

