<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<div class="navbar navbar-default navbar-fixed-top">
  <div class="">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Picturesque</a>
    </div>
    <p class="navbar-text pull-right hidden"><strong></strong> <a href='#'><span class='label label-default'>logout</span></a></p>
  </div>
</div>

<div class="container" id="app">
	<div id="appView">
	</div>

</div>

<div class="container" id="albums">
	<ol class="breadcrumb">
	  <li class="go-to-home"><a hef="#">Home</a></l>
	  <li class="active">Albums</li>
	</ol>
  <h2>Your albums are here. Select one.</h2>
	<ul id="albumsView">
	</ul>
</div>

<div class="container hidden" id="gallery">
	<ol class="breadcrumb">
	  <li class="go-to-home"><a hef="#">Home</a></l>
	  <li class="go-to-albums"><a href="#">Albums</a></li>
	  <li class="active">Data</li>
	</ol>
	<div id="photosView">
	</div>

</div>
